@mixin leadDelay{
	@for $value from 1 through 10{
		&:nth-child(#{$value}){
			transition-delay: ($value - 1) * 0.15s;
		}
	}
}

//nav用mixin end

body{
	width: 100%;
}

//IE・edge対応
_:-ms-lang(x), body {
	position: static !important;
}

_:-ms-lang(x), .p-kv {
	position: relative !important;
	padding-top: 103vh !important;
}

.crazy{
	height: 10000px;
	-webkit-font-smoothing: antialiased;
	//kvセクション start

	.p-kv{
		//IEtest
		position: fixed;
		//
		overflow: hidden;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition:transform .8s cubic-bezier(1,0,0,1) .1s;
		z-index: 100;
		background: #fff;

		.p-kv_carousel{
			img{
				@keyframes slideIndexKv {
					0% {
						opacity: 0;
						transform: translate3d(-50px, 0px, 0px);
						z-index: 10;
					}
					70% {
						opacity: 1;
						z-index: 1;
					}
					100% {
						opacity: 0;
						transform: translate3d(0px, 0px, 0px);
					}
				}
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				font-family: 'object-fit:cover;';
				&.is-animate{
					animation: slideIndexKv 6s cubic-bezier(0.19, 1, 0.22, 1);
				}
			}
		}

		.p-kv_textBox{
			position: absolute;
			top: 6.91667%;
			bottom: 6.91667%;
			left: 0;
			right: 0;
			z-index: 100;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			.p-kv_textBox_lead{
				overflow: hidden;

				//IE対応
				display: flex;
				flex-direction: column;
				//

				>div{
					transform: translateX(-100.5%);
					transition-duration: 0.8s;
					transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
					transition-property: transform;
					@include leadDelay();
					>span{
						padding-bottom: 8px;
						position: relative;
						display: block;
						float: left;
					}
					&.is-show{
						>span{
							&:before{
								transform:scaleY(0);
							}
						}
					}
					>span{
						font-size: 75px;
						font-weight: bold;
						&:before{
							content: "";
							position: absolute;
							top: 12px;
							right: 0;
							bottom: 0%;
							left: 0;
							background: #000;
							transform-origin: bottom;
							transition-delay: 0s;
							transition-duration: 1s;
							transition-timing-function: cubic-bezier(.075,.82,.165,1);
						}
						&:after{
							content: "";
							display: block;
							position: absolute;
							bottom: 0px;
							right: 0px;
							left: 0px;
							height: 7px;
							background: #000;
						}
					}
				}

				&.is-active{
					>div{
						transform: translateX(0%);
					}
				}
			}
		}

		.p-kv_scroll{
			position: fixed;
			z-index: 1000;
			width: 1px;
			height: 54px;
			bottom: 25px;
			left: 60px;
			background-color: #ababab;
			&_pointer{
				width: 9px;
				height: 9px;
				position: absolute;
				left: -4px;
				top: -4px;
				animation: moveScrollPointer 1.2s cubic-bezier(.215,.61,.355,1) 0s infinite normal;
				&:before{
					content: "";
					display: block;
					width: 9px;
					height: 9px;
					border-radius: 50%;
					background-color: #000;
					animation: moveScrollPointerIn 1.2s cubic-bezier(.215,.61,.355,1) 0s infinite normal;
				}
			}
		}

	}



	.p-introduction{
		padding-top: 9%;
		margin: 0 10% 0;
		text-align: center;
		h2{
			margin-top: 60px;
			font-size: 48px;
			line-height: 1.1;

		}
		.p-introduction_text{
			font-size: 15px;
			margin-top: 30px;
			line-height: 2.3;
			opacity: 0;
			transition:opacity 0.8s 0.4s;
			&.is-shown{
				opacity: 1;
			}
		}
		.c-button_wrap{
			margin-top: 30px;
		}
	}

	.p-itemSlideIn-wrap{
		overflow: hidden;
		// display: flex;
		// flex-direction: column;
		cursor: pointer;
		.c-textSlideIn-wrap{
			transition-delay: 0.4s;
			>*{
				transition-delay: 0.4s;
			}
			.under_line{
				// display: inline-block;
				margin-top: 20px;
				font-size: 11px;
				line-height: 1.1;
				letter-spacing: 0.3em;
				font-weight: bold;
				span{
					display: inline-block;
					&:after{
						height: 2px;
						width: 35px;
						content: "";
						display: block;
						margin-top: 11px;
						background: rgb(0, 0, 0);
						transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
					}
				}
			}
		}
		&:hover{
			img{
				transform: scale(1.1);
			}
			.under_line{
				span:after{
					width: 100%;
				}
			}
			.hoverOpacity{
				opacity: .3;
			}
		}
	}

	.p-outline{
		padding-top: 9%;
		margin: 0 10%;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		>li{
			display: flex;
			flex-direction: column;
			width: 30.5556%;
			.c-textSlideIn-wrap{
				h2{
					margin-top: 20px;
					font-size: 18px;
					letter-spacing: 0.05em;
					line-height: 1.25;
					font-weight: bold;
				}
				h2+p{
					margin-top: 10px;
					font-size: 12px;
					letter-spacing: 0.05em;
					line-height: 2;
				}
			}
		}
	}

	.p-news{
		padding-top: 9%;
		margin: 0 10%;
		h2{
			text-align: center;
			font-size: 21px;
			line-height: 1.7;
			letter-spacing: .05em;
		}
		.p-news_contents{
			margin-top: 6%;
			display: flex;
			justify-content: space-between;

			.c-textSlideIn-wrap{
				>:first-child{
					font-size: 10px;
					line-height: 1.5;
					color: #969696;
					letter-spacing: .025em;
				}
				>:last-child{
					margin-top: 10px;
					font-size: 14px;
					letter-spacing: 1;
					line-height: 1.4;
				}
				.hoverOpacity{
					transition: opacity .4s;
				}
				&:hover{
					.hoverOpacity{
						opacity: .3;
					}
				}
			}
			.p-itemSlideIn-wrap_main{
				width: 48%;
				.c-textSlideIn-wrap{
					padding-top: 15px;
				}
			}

			.p-itemSlideIn-wrap_sub{
				width: 48%;
				.p-itemSlideIn-wrap{
					display: flex;
					&:not(:first-child){
						margin-top: 7.24638%;
					}
					.c-imageSlideIn-wrap{
						width: 26%;
					}
					.c-textSlideIn-wrap{
						width: 73.2%;
						padding-left: 30px;
					}
				}
			}
		}
		.c-button_wrap{
			margin-top: 80px;
			text-align: center;
		}
	}

	.p-photoGallery{
		width: 66.6%;
		margin: 8% auto 0;
		.c-imageSlideIn-wrap{
			.p-photoGallery_wrap{
				position: relative;
				opacity: 0;
				transition: opacity .6s .9s;
				.p-photoGallery_wrap_in{
					margin: 0 auto;
					padding-top: 44.1%;
					position: relative;
					background-color: rgb(234, 234, 234);
					z-index: 11;
					img{
						@keyframes slideIndexJoinusBanner {
							0% {
								opacity: 0;
								z-index: 10;
							}
							30% {
								opacity: 1;
								z-index: 1;
							}
							70% {
								opacity: 1;
								z-index: 1;
							}
							100% {
								opacity: 0;
							}
						}
						width: 100%;
						position: absolute;
						top: 0px;
						right: 0px;
						bottom: 0px;
						left: 0px;
						opacity: 0;
						&.is-animate{
							animation:slideIndexJoinusBanner 6s cubic-bezier(0.19, 1, 0.22, 1);
						}
					}
				}
				.c-textSlideIn-wrap{
					position: absolute;
					right: 20%;
					left: 20%;
					top: 0;
					bottom: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					z-index: 20;
					h2{
						font-size: 38px;
						letter-spacing: 0.1em;
						line-height: 1.1;
					}
				}
			}
			&.is-shown{
				.p-photoGallery_wrap{
					opacity: 1;
				}
			}
		}
	}
}