<%
config["pageTitle"] = "お問い合わせ"
%>

<!DOCTYPE html>
<html lang="ja">
    <%- include(relativePath + "_partial/_head",config) %>
<body>
    <div><%= relativePath %> <%= absolutePath %> </div>
    <main>
        <section>
        <h1>TOP</h1>
        </section>
        <section>
        <ul>
            <li><a href="/html/crazy/">模写</a></li>
        </ul>
        </section>
    </main>
</body>
</html>