@mixin leadDelay{
	@for $value from 1 through 10{
		&:nth-child(#{$value}){
			transition-delay: ($value - 1) * 0.15s;
		}
	}
}

//nav用mixin start
@mixin menuOpenDelay{
	@for $value from 1 through 10{
		&:nth-child(#{$value}){
			transition-delay: 0.10 + $value*0.04s;
		}
	}
}

@mixin lines($delays) {
	@each $delay in $delays{
		$value: index($delays, $delay);
		.c-nav_hamburger_line#{$value}{
			top:$value * 8 + 3 + px;
		}
		.c-nav_hamburger_line#{$value}{
			>div{
				transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
				transition-delay: $delay+s;
			}
		}
		&:hover{
			.c-nav_hamburger_line#{$value}{
				>div{
					&:before,&:after{
						transform: translateX(200%);
						transition-property:transform;
						transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1) ;
						transition-duration:1s;
						transition-delay:$value*50 + ms;
					}
				}
			}
		}
		&.is-opened{
			.c-nav_hamburger_line#{$value}{
				>div{
					left: 24px !important;
					&:before,&:after{
						transition: none;
					}
				}
			}
		}
	}
}

@mixin crosses($delays,$rotates) {
	@each $delay in $delays{
		$value: index($delays, $delay);
		.c-nav_hamburger_cross#{$value}{
			top: 19px;
			transform:rotate(nth($rotates,$value)+deg);
		}
		&:hover{
			.c-nav_hamburger_cross#{$value}{
				>div{
					&:before,&:after{
						transform: translateX(200%);
						transition: none;
					}
				}
			}
		}
		&.is-opened{
			.c-nav_hamburger_cross#{$value}{
				>div{
					left: 0px !important;
					transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
					transition-delay: $delay+s;
				}
			}
			&:hover{
				.c-nav_hamburger_cross#{$value}{
					>div{
						&:before,&:after{
							transition-property:transform;
							transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1) ;
							transition-duration:1s;
							transition-delay:$value*50 + ms;
						}
					}
				}
			}
		}

	}
}
//nav用mixin end

.crazy{
	font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
	-webkit-font-smoothing: antialiased;

	//nav用style start
	@keyframes moveScrollPointer {
		0% {
			transform: translate3d(0px, 0px, 0px);
		}
		100% {
			transform: translate3d(0px, 54px, 0px);
		}
	}
	@keyframes moveScrollPointerIn {
		0% {
			transform: scale(0);
		}
	
		10% {
			transform: scale(1);
		}
	
		65% {
			transform: scale(1);
		}

		100% {
			transform: scale(0);
		}
	}

	.c-nav{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 999;
		perspective: 500px;

		.c-nav_logo{
			top: 33px;
			left: 44px;
			display: block;
			position: absolute;
			z-index: 99999;
			fill:#000;
			transition: fill 0.6s ease;
			&.is-opened{
				fill:#fff;
			}
		}

		.c-nav_label{
			position: absolute;
			top: 50%;
			left: 56px;
			transform: translate(-50%,-50%);
			&:hover{
				&:before{
					height: 100%;
				}
			}
			&:before{
				content: "";
				display: block;
				position: absolute;
				width: 1.5px;
				height: 0;
				background-color: #000;
				right: 50%;
				transform: translateX(50%);
				transition: height 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
			}
		}

		.c-nav_scroll{
			width: 1px;
			height: 54px;
			position: absolute;
			bottom: 25px;
			left: 60px;
			background-color: #ababab;
			&_pointer{
				width: 9px;
				height: 9px;
				position: absolute;
				left: -4px;
				top: -4px;
				animation: moveScrollPointer 1.2s cubic-bezier(.215,.61,.355,1) 0s infinite normal;
				&:before{
					content: "";
					display: block;
					width: 9px;
					height: 9px;
					border-radius: 50%;
					background-color: #000;
					animation: moveScrollPointerIn 1.2s cubic-bezier(.215,.61,.355,1) 0s infinite normal;
				}
			}
		}

		.c-nav_utility{
			width: 32px;
			line-height: 1.5;
			top: 50%;
			right: 45px;
			transform: translateY(-50%);
			position: absolute;
			.c-nav_utility_sns{
				>li{
					padding: 10px 0;
					a{
						svg{
							margin: 0 auto;
							transition:transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
						}
					}
					&:hover{
						svg{
							transform: scale(1.4);
						}
					}
				}
			}
			.c-nav_utility_recruit{
				position: relative;
				height: 47px;
				margin-top: 17px;
				&:hover{
					>:first-child:before{
						height: 140px;
					}
				}
				>:first-child:before{
					content: "";
					display: block;
					position: absolute;
					background: #000;
					width: 2px;
					height: 47px;
					right: 50%;
					transform: translate(50%);
					transition: height 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
				}
				img{
					position: absolute;
					top: 60px;
					right: 50%;
					transform: translate(50%);
				}
			}
		}

		.c-nav_hamburger{
			position: absolute;
			top: 26px;
			right: 41px;
			width: 40px;
			height: 40px;
			cursor: pointer;
			z-index: 9999;
			@include lines($delays:(0,0.1,0.05));
			@include crosses($delays:(0.15,0.20),$rotates:(45,135));
			>div{
				position: absolute;
				height: 2px;
				width: 24px;
				left: 9px;
				overflow: hidden;
				>div{
					position: absolute;
					height: 100%;
					width: 24px;
					left: 0;
					&::before{
						content: "";
						display: block;
						width: 24px;
						height: 2px;
						position: absolute;
						top: 0px;
						left: -48px;
					}
					&:after{
						content: "";
						display: block;
						width: 24px;
						height: 2px;
						position: absolute;
						top: 0px;
						left: 0px;
					}
					&::before,&:after{
						background: #000;
					}
					&[class*="line"]{
						// &::before,&:after{
						// 	background: #000;
						// }
					}
					&[class*="cross"]{
						left: -24px;
						// &::before,&:after{
						// 	background: #fff;
						// }
					}
				}
			}
			&.is-opened{
				>div{
					>div::after,>div::before{
						background: #fff;
					}
					// >div[class*="line"]{
					// 	left: 24px;
					// }
					// >div[class*="cross"]{
					// 	left: 0;
					// }
				}
			}
		}

		.c-nav_popup{
			opacity: 0;
			z-index: -1;
			pointer-events: none;
			transform: translate3d(0px, 0px, -50px);
			transition:  0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
			position: fixed;
			top:0;
			right: 0;
			bottom: 0;
			left: 0;
			background: #000;
			display: flex;
			justify-content: center;
			align-items: center;
			&.is-opened{
				opacity: 1;
				z-index: 5000;
				pointer-events: auto;
				transform: translate3d(0px, 0px, 0px);
				.c-nav_popup_list{
					>li{
						opacity: 1;
						transform: translate3d(0px, 0px, 0px);
						transition-duration: 0.6s;
						transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
						transition-property: transform, opacity;
						@include menuOpenDelay;
					}
				}
			}
			.c-nav_popup_list{
				font-size: 14px;
				padding-top: 50px;
				perspective:500px;
				>li{
					letter-spacing: 0.15em;
					font-weight: bold;
					opacity: 0;
					transform: translate3d(0px, 0px, 50px);
					>a{
						position: relative;
						color: #fff;
						display: inline-block;
						padding: 17px 0;
						&:before{
							content: "";
							display: block;
							position: absolute;
							width: 0;
							height: 2px;
							right:0;
							left: auto;
							background-color: #fff;
							bottom: 50%;
							transform: translateY(50%);
							transition: width 0.4s cubic-bezier(0.42, 0.0, 0.58, 1.0);
						}
						&:hover{
							&:before{
								width: 100%;
								right: auto;
								left: 0;
							}
						}
					}
					&:last-child{
						cursor:auto;
						&:before{
							margin-top: 25px;
							height: 1px;
							width: 15px;
							content: "";
							display: block;
							background-color: grey;
						}
					}
				}
			}
			.c-nav_popup_list_sns{
				display: flex;
				margin: 40px;
				margin-left: -18px;
				>li{
					position: relative;
					width: 45px;
					height: 45px;
					cursor: pointer;
					>a{
						position: absolute;
						bottom: 50%;
						right: 50%;
						transform: translate(50%,50%);
						svg{
							fill: #fff;
							transition:transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
						}
					}
					&:hover{
						svg{
							transform: scale(1.4);
						}
					}
				}
			}
		}
		
	}
	//nav用style end

	.c-button{
		margin-top: 30px;
		a{
			cursor: pointer;
			width: 220px;
			padding: 20px 0;
			border: 2px solid #000;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			span{
				display: block;
				font-size: 11px;
				line-height: 1.1;
				font-weight: 700;
				letter-spacing: 0.3em;
				color: #000;
			}
		}
	}
	//kvセクション start

	.p-kv{
		position: fixed;
		overflow: hidden;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition:transform .8s cubic-bezier(1,0,0,1) .1s;

		.p-kv_carousel{
			img{
				@keyframes slideIndexKv {
					0% {
						opacity: 0;
						transform: translate3d(-50px, 0px, 0px);
						z-index: 10;
					}
					70% {
						opacity: 1;
						z-index: 1;
					}
					100% {
						opacity: 0;
						transform: translate3d(0px, 0px, 0px);
					}
				}
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				&.is-animate{
					animation: slideIndexKv 6s cubic-bezier(0.19, 1, 0.22, 1);
				}
			}
		}

		.p-kv_textaBox{
			position: absolute;
			top: 6.91667%;
			bottom: 6.91667%;
			left: 0;
			right: 0;
			z-index: 100;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			.p-kv_textaBox_lead{
				overflow: hidden;

				>div{
					transform: translateX(-100.5%);
					transition-duration: 0.8s;
					transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
					transition-property: transform;
					@include leadDelay();
					>span{
						padding-bottom: 8px;
						position: relative;
						display: block;
						float: left;
					}
					&.is-show{
						>span{
							&:before{
								transform:scaleY(0);
							}
						}
					}
					>span{
						font-size: 75px;
						font-weight: bold;
						&:before{
							content: "";
							position: absolute;
							top: 12px;
							right: 0;
							bottom: 0%;
							left: 0;
							background: #000;
							transform-origin: bottom;
							transition-delay: 0s;
							transition-duration: 1s;
							transition-timing-function: cubic-bezier(.075,.82,.165,1);
						}
						&:after{
							content: "";
							display: block;
							position: absolute;
							bottom: 0px;
							right: 0px;
							left: 0px;
							height: 7px;
							background: #000;
						}
					}
				}

				&.is-active{
					>div{
						transform: translateX(0%);
					}
				}
			}
		}

	}

	.p-mainContent{
		padding: 9% 10% 8%;
		text-align: center;
		h2{
			margin-top: 60px;
			font-size: 48px;
			line-height: 1.1;
		}
		p{
			font-size: 15px;
			margin-top: 30px;
			line-height: 2.3;
		}
	}
}

