.p-news{
    padding-top: 50px;
    margin: 0 25px;
    @include mediaQuery{
        padding-top: 9%;
        margin: 0 10%;
    }
    h2{
        text-align: center;
        font-size: 19.4062px;
        line-height: 1.7;
        letter-spacing: .05em;
        @include mediaQuery{
            font-size: 21px;
        }
        @include mediaQuery(smallMobile){
            font-size: 4.6875vw;
        }
    }
    .c-button{
        text-align: center;
        margin-top: 30px;
        @include mediaQuery{
            margin-top: 80px;
        }
    }
}

.p-news_contents{
    margin-top: 6%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mediaQuery(landscapeORdesktop){
        display: block;
    }
    > :first-child{
        width: 100%;
        margin-bottom: 20px;
        @include mediaQuery(landscapeORdesktop){
            width: 48%;
            float: left;
            margin-bottom: 0;
        }
        .c-textSlideIn{
            padding-top: 15px;
        }
    }
    > :not(:first-child){
        width: 48%;
        &:last-child{
            display: none;
        }
        @include mediaQuery(landscapeORdesktop){
            width: 48%;
            float: right;
            &:nth-child(n+1){
                display: flex;
            }
            &:nth-child(n + 3){
                margin-top: 3.5%;
            }
            .c-imageSlideIn{
                width: 26%;
            }
            .c-textSlideIn{
                width: 73.2%;
                padding-left: 20px;
            }
        }
        @include mediaQuery{
            .c-textSlideIn{
                padding-left: 30px;
            }
        }
    }
    
    .c-textSlideIn{
        padding-top: 15px;
        @include mediaQuery(landscapeORdesktop){
            padding-top: 0;
        }
        >:first-child{
            font-size: 11.5px;
            line-height: 1.5;
            color: #969696;
            letter-spacing: 0.2em;
            @include mediaQuery{
                font-size: 10px;
            }
            @include mediaQuery(smallMobile){
                font-size: 2.8125vw;
            }
            &:before{
                content: "";
                display: inline-block;
                vertical-align: middle;
                background-color: rgb(150, 150, 150);
                width: 3px;
                height: 1px;
                margin-right: 6px;
                margin-bottom: 2px;
                @include mediaQuery{
                    width: 4px;
                    height: 2px;
                    margin-right: 10px;
                    margin-bottom: 3px;
                }
            }
        }
        >:last-child{
            margin-top: 10px;
            font-size: 17px;
            line-height: 1.4;
            @include mediaQuery{
                font-size: 14px;
            }
            @include mediaQuery(smallMobile){
                font-size: 4.0625vw;
            }
        }
        .hoverOpacity{
            transition: opacity .4s;
        }
        &:hover{
            .hoverOpacity{
                opacity: .3;
            }
        }
    }
}