<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta name="description" content="株式会社CRAZY(株式会社クレイジー)の公式サイト。CRAZY WEDDING、CRAZY KITCHENなどの事業内容紹介や、働き方、採用、会社情報を掲載しています。">
<title>タイトル</title>
<link rel="stylesheet" type="text/css" href="/css/crazy/index.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700&display=swap&subset=japanese" rel="stylesheet">
</head>
<body>
<%- include(relativePath + "_partial/_crazy_headerNav") %>
<main class="crazy">
	<section class="p-kv">
		<div class="p-kv_carousel">
			<img src="images/lp-kv_01.jpg" alt="IAキャラクター">
			<img src="images/lp-kv_02.jpg" alt="IAキャラクター">
			<img src="images/lp-kv_03.jpg" alt="IAキャラクター">
		</div>
		<div class="p-kv_textBox">
			<div class="p-kv_textBox_lead">
				<div><span>HUMAN</span></div>
				<div><span>BUSINESS</span></div>
				<div><span>COMPANY</span></div>
			</div>
		</div>
		<div class="p-kv_scroll">
			<div class="p-kv_scroll_pointer"></div>
		</div>
	</section>

	<section class="p-contents">

		<section class="p-introduction">
			<h2><span class="c-textSlideIn-wrap"><span>WHO WE ARE</span></span></h2>
			<p class="p-introduction_text">CRAZYは、企業の可能性を模索しているビジネス集団です。<br>既存の考え方・働き方にとらわれず、業界・事業を抜本から更新し<br>新たな可能性や真に理想だと言える組織運営の取り組みを発明しています。<br>私たちの活動の根幹は、理想から物事を「本質的に 美しく ユニークに」再定義する営み。<br>そして「クレイジーと言われるレベルでそれを行うこと」が<br>未来に必要な新しいサンプルをこの社会に生み出すことだと信じています。</p>
			<div class="c-button_wrap">
				<a href='"/whoweare/' class='c-button'>
					<span class="c-button_word">READ MORE</span>
					<span class="c-button_column"></span>
					<span class="c-button_row"></span>
				</a>
			</div>
		</section>

		<ul class="p-outline">
			<li class="p-itemSlideIn-wrap mod-sub">
				<div class="c-imageSlideIn-wrap">
					<div class="c-imageSlideIn-wrap-in">
						<img src="images/p-outline_01.jpg" alt="">
					</div>
				</div>
				<div class="c-textSlideIn-wrap">
					<h2>COMPANY</h2>
					<p>会社概要・オフィス</p>
					<p class="under_line">READ MORE</p>
				</div>
			</li>
			<li class="p-itemSlideIn-wrap">
				<div class="c-imageSlideIn-wrap">
					<div class="c-imageSlideIn-wrap-in">
						<img src="images/p-outline_02.jpg" alt="">
					</div>
				</div>
				<div class="c-textSlideIn-wrap">
					<h2>BUSINESS</h2>
					<p>CRAZYが展開するサービス・事業一覧</p>
					<p class="under_line">READ MORE</p>
				</div>
			</li>
			<li class="p-itemSlideIn-wrap mod-sub">
				<div class="c-imageSlideIn-wrap">
					<div class="c-imageSlideIn-wrap-in">
						<img src="images/p-outline_03.jpg" alt="">
					</div>
				</div>
				<div class="c-textSlideIn-wrap">
					<h2>PEOPLE</h2>
					<p>CRAZYで働くすべてのメンバーのご紹介</p>
					<p class="under_line">READ MORE</p>
				</div>
			</li>
		</ul>

		<section class="p-news">
			<h2><span class="c-textSlideIn-wrap"><span>NEWS & EVENT</span></span></h2>
			<div class="p-news_contents">
				<div class="p-itemSlideIn-wrap p-itemSlideIn-wrap_main">
					<div class="c-imageSlideIn-wrap">
						<div class="c-imageSlideIn-wrap-in">
							<img src="images/p-news_01.jpg" alt="">
						</div>
					</div>
					<div class="c-textSlideIn-wrap">
						<p>PRESS RELEASE 2020/2/20</p>
						<p><span class="hoverOpacity">【星野リゾート×CRAZY WEDDING共同開発】「ナシ婚」を選択する方に向け、結婚式に代わる新サービス「IWAI旅」を開始</span></p>
					</div>
				</div>
				<ul class="p-news_contents_sub p-itemSlideIn-wrap_sub">
					<li class="p-itemSlideIn-wrap">
						<div class="c-imageSlideIn-wrap">
							<div class="c-imageSlideIn-wrap-in">
								<img src="images/p-news_02.jpg" alt="">
							</div>
						</div>
						<div class="c-textSlideIn-wrap">
							<p>NEWS 2020/3/13</p>
							<p><span class="hoverOpacity">CRAZY WEDDING BOOK 一般販売 開始いたしました</span></p>
						</div>
					</li>
					<li class="p-itemSlideIn-wrap">
						<div class="c-imageSlideIn-wrap">
							<div class="c-imageSlideIn-wrap-in">
								<img src="images/p-news_03.jpg" alt="">
							</div>
						</div>
						<div class="c-textSlideIn-wrap">
							<p>NEWS 2020/2/22</p>
							<p><span class="hoverOpacity">新型コロナウイルス感染症（COVID-19）の感染拡大に伴う対応について</span></p>
						</div>
					</li>
					<li class="p-itemSlideIn-wrap">
						<div class="c-imageSlideIn-wrap">
							<div class="c-imageSlideIn-wrap-in">
								<img src="images/p-news_04.jpg" alt="">
							</div>
						</div>
						<div class="c-textSlideIn-wrap">
							<p>MEDIA 2020/1/24</p>
							<p>「気鋭のリーダー10人に学ぶ 新しい子育て」に弊社代表 森山の インタビュー記事が掲載されました</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="c-button_wrap">
				<a href='"/whoweare/' class='c-button'>
					<span class="c-button_word">READ MORE</span>
					<span class="c-button_column"></span>
					<span class="c-button_row"></span>
				</a>
			</div>
		</section>

		<section class="p-photoGallery">
			<div class="c-imageSlideIn-wrap">
				<div class="c-imageSlideIn-wrap-in">
					<div class="p-photoGallery_wrap">
						<img src="images/lp-kv_01.jpg" alt="IAキャラクター">
						<img src="images/lp-kv_02.jpg" alt="IAキャラクター">
						<img src="images/lp-kv_03.jpg" alt="IAキャラクター">
					</div>
				</div>
			</div>
		</section>
	</section>
</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.js"></script>
<script>objectFitImages();</script>
<script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
<script src="../../js/bundle.js"></script>
</body>
</html>